.mmdiv{
width:40%;
display: grid;
grid-template-columns: 49% 49%;
grid-gap: 2%;
margin-left:30%;
}
.mDiv{
    width:25%;
    max-height:250px;
    overflow:scroll;
    margin-left: 30%;
}
.mdiv1 {
    width: 100%;
    display: grid;
    cursor:pointer;
    grid-template-columns: 49% 49%;
    grid-gap: 2%;
    background-color: aqua;
    color: black;
}